.container{
    display:grid;
    grid-template-columns: 3fr 9fr;
    column-gap: 5px;
    width: 98%;
    justify-self: center;
    margin: 9px;
  border:0.5px solid grey;
    height:95vh;
       border-radius: 10px;
    
}
.leftSide{
    display: flex;
    flex-direction: column;
}