.containerFull{
    display:grid;
    grid-template-columns: 4fr 11fr 1fr;
    column-gap: 5px;
    width: 88%;
    justify-self: center;
    margin: 9px;
  border:0.5px solid grey;
    height:95vh;
       border-radius: 10px;
       margin-left: 74px;
    
}
.leftSide{
    display: flex;
    flex-direction: column;
}

 .containerMed{
       display:grid;
    grid-template-columns: 4fr 8fr 4fr;
    column-gap: 5px;
    width: 88%;
    justify-self: center;
    margin: 9px;
  border:0.5px solid grey;
    height:95vh;
       border-radius: 10px;
       margin-left: 74px;
    
 }