.img{
    width: 18%;
    margin: 20px;
    height: 55px;
}

.container{
    display: flex;
    flex-direction: row;
}
.text{
   
  height: 20px;
        line-height: 20px;
        padding: 15px;
        font-size:x-large;
        margin-left:-20px;

}