.icons{
    cursor: pointer;
    width: 18px;
    margin-top: 7px; 
    margin-left: 8px;
}
.container{
display: flex; 
flex-direction: row-reverse;
height: 9vh;
justify-content: flex-end;
}
.fileContainer{
margin-top: -3px;

}
.fileItems{
background-color: rgba(154, 154, 169, 0.234);
width: 35px;
height:35px;
border-radius: 50%;
}
.type{
    margin-top: 5px;
    margin-left: 8px;
}