.rightSide{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.arrow{
    margin: 15px;
    margin-top: 4.2vh;
    width: 35px;
    cursor:pointer;
}
.filesContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 18px;
  margin-top: -3px;
  
}
.peopleContainer{
  margin-top: -3vh;
}
