.rightSide{
  display: flex;
    flex-direction: column;
  justify-content: flex-start;
  
}
.arrow{
    margin: 15px;
    width: 35px;
   
    cursor:pointer;
}
.filesContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}