.icons{
    width: 40px;
    cursor: pointer;
    margin-top:-7px;
}
.container{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    

}
.flexItem{
    margin-left: 10px;
     margin-right: 5px;
     margin-bottom: 5px;

}