.img{
    width: 50px;
    border-radius: 505/50%;
    display:block;
    margin:auto;
}
h1{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 70px;
}
p{
    display:block;
    margin:auto;
}