.ChatBox{
   height: 68vh;  
}
.chats{
   height: 57vh;
    overflow-y: scroll;
   overflow-x: hidden;
}
.chats::-webkit-scrollbar{ 
  width: 7px;
  margin-right: 5rem;
}
.chats::-webkit-scrollbar-thumb{
  margin-right: 5rem;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0,0 , 0, 0.3);
  background-color: #ffffff;
}

.chatTitle{
height: 10vh;
width: 100%;
border-top-right-radius:  1rem;
border-top-left-radius:  1rem;
background-color: rgb(232, 235, 240);
border-bottom: 0.2px solid rgb(206, 206, 213);
margin-top: -20px;
position:sticky;
}
.contactName{
   padding: 20px;
   
}
.chatList{
   display: flex;
   flex-direction: column;
}




