
.inputContainer{
    box-sizing: border-box;
     /* position:absolute; */
       border: 0.5px solid rgb(197, 197, 197);
      border-radius:20px;
       width:90%;
       margin-left: 20PX;
       
       height: 7%;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       background-color: white;
    
}
.inputText{
       border: none;
       width: 85%;
       border-radius: 20px;
       height: 20px;
       margin-top: 2px;
       margin-left: 3px;
       outline: none;
     
       
}


.fileImg{
   cursor: pointer;

  margin-top: 6px;
  margin-left:30px;
   width: 30px;
    margin-top: 2px;
    margin-right: 5px;
    border-radius: 50%/50%;
    
}
.sendImg{
   width: 30px;
    cursor: pointer;
    margin-right: 4px;
    margin-top:2px ;
}
