.img{
    width: 50px;
    border-radius: 505/50%;
    display:block;
    margin:auto;
}
h1{
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 70px;
}
label{
        display:block;
    margin:auto;
}
.p{
    color: rgb(76, 76, 220);
    cursor: pointer;
}
.inputFile {

   display: none;

}
.close{
    width: 28px;
    margin: 10px;
    cursor: pointer;
}